/* Estilos de página de viajes 
*{
    outline: solid black;
}
*/
body { /* Selección de body */
font-family:Arial, sans-serif ; /* Cambia tipografia */
margin: 0; /* Elimina todo el margen por defecto*/
padding: 0; /* Elimina todo el relleno de los elementos */
}
/* Acá viene el estilo de una clase container */
.container {
    width: 80%; /* Establece el ancho del contenedor en un 80% */
    margin: 0 auto; /* Centra horizontalmente el contenedor */
}
/* Estilo de encabezado */
header {
    background-color: #8603dd; /* Establece el color de fondo */
    color: #000000; /* Establece el color de texto */
    padding: 20px 0; /* Añade relleno superior e inferior */
}

header h1{
    margin: 0; /* Elimina el margen por defecto del título */
}
/* Estilo de elemento de lista */
nav ul li{
    display:inline; /* Alinea los elemento */
    margin-right: 20px; /* margen hacia la derecha */
}
/* Estilo a elementos de vinculo ancla de navegacion */
nav ul li a{
    color:#ff00d4; /* Color a elemento Anchor */
    text-decoration: none; /* Quita subrayado de enlaces */
}

section {
    padding: 40px 0; /* Añade relleno superior e inferio */
}

#banner{
    background-image: url('https://www.flowo.com/cdn-cgi/image/format=webp,compression=fast/https://cms.w2m.com/dam/Sites/Flowo/paquetes/Fotos/Bayahibe/BayahibeEssence.jpg'); /* Establece la imagen de fondo del banner */
    background-size: cover; /* Ajusta la imagen al área del banner */
    color: #fff; /*Establece color del texto */
    text-align: center; /* Centra el texto del banner */
    padding: 120px 0; /* Define el relleno superior e inferior */
}
#banner h2{
font-size: 36px; /* Establece tamaño de texto */
}
#banner p{
    font-size: 18px; /* Establece tamaño de P */
    margin-bottom: 20px; /* Define margen inferior */
}

.btn{
    background-color: #007bff; /* Color fondo boton */
    color: #fff; /* Color del texto del boton */
    padding: 10px 20px; /* Relleno del boton */
    text-decoration: none; /* Quita decoración del enlace */
}
/* Estilo cuando pasa puntero sobre el boton */
.btn:hover {
    background-color: #0056b3; /* Establece el color de fondo en hover boton */
}

.destinos-container{
    display: flex; /* Utiliza flexbox para elinear elementos */
    justify-content: space-between; /* Distribuye uniformemente los elementos */
    flex-wrap: wrap; /* Si los elementos no caben en la misma línea, agrega una nueva línea con estos elementos extras */
}
.destino{
    width: calc(33.33% - 20px); /* Establece el ancho de cada destino menos el espacio entre los destinos */
    margin-bottom: 20px; /* define el margen inferior */
    text-align: center; /* Centra el texto */
}

.destino img{
    width: 100%; /* Establece el ancho de la imagen ajustandola al elemento que la contiene */
    border-radius: 8px; /* Redondea las esquinas*/
}
.destino h3{
margin-top: 10px; /* agrega distancia entre imagen y h3 */
}
.destino p{
margin-top: 10px; /* Agrega distancia superior entre h3 y parrafo */
}
footer{
    background-color: #333; /* Establece color de fondo de footer */
    color: #fff; /* Establece color de texto de footer */
    text-align: center; /* centra el texto */
    padding: 20px 0; /* Añade relleno superior e inferior */
}
